* {
  box-sizing: border-box;
}
html {
  font-size: 100px;
  background-color: #f9f9f9;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 50px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 56.25px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 58.59375px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 62.5px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 64.6875px;
  }
}
@media screen and (min-width: 440px) {
  html {
    font-size: 68.75px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 75px;
  }
}
@media screen and (min-width: 520px) {
  html {
    font-size: 81.25px;
  }
}
@media screen and (min-width: 560px) {
  html {
    font-size: 87.5px;
  }
}
@media screen and (min-width: 600px) {
  html {
    font-size: 93.75px;
  }
}
@media screen and (min-width: 640px) {
  html {
    font-size: 100px;
  }
}
@media screen and (min-width: 680px) {
  html {
    font-size: 106.25px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 112.5px;
  }
}
@media screen and (min-width: 760px) {
  html {
    font-size: 118.75px;
  }
}
@media screen and (min-width: 800px) {
  html {
    font-size: 125px;
  }
}
@media screen and (min-width: 960px) {
  html {
    font-size: 150px;
  }
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "微软雅黑";
  font-size: 20px;
}
a {
  text-decoration: none;
}
img {
  vertical-align: top;
}
ul,
li {
  list-style: none;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
li,
ol {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
}
.c80 {
  color: #808080;
}
.c1 {
  color: #4b4a4a;
}
/**************************** 头部 **********/
body {
  position: relative;
}
header,
section,
footer {
  font-size: .2rem;
}
header {
  line-height: .85rem;
  height: .85rem;
  background-color: #fa3432;
  display: flex;
  padding: 0 .2rem;
  justify-content: space-between;
  align-items: center;
  font-size: .26rem;
  color: #fff;
}
header .link-back {
  background: url(../img/link_back.png) no-repeat;
  background-size: .39rem .26rem;
  width: .39rem;
  height: .26rem;
  text-indent: -999rem;
}
header .link-menu {
  background: url(../img/link_menu.png) no-repeat;
  background-size: .36rem .29rem;
  width: .36rem;
  height: .29rem;
  text-indent: -999rem;
}
section.about {
  padding: .2rem;
  color: #868484;
  font-size: .24rem;
}
section.about h3 {
  width: 1.45rem;
  font-size: .26rem;
  margin: .3rem auto;
  color: #525151;
  padding: .2rem;
  border-bottom: .02rem solid #fdb870;
}
section.about p {
  text-indent: 2em;
}
section.about ul.history {
  font-size: 0.22rem;
}
section.about ul.history li {
  height: .6rem;
}
section.about ul.history li span {
  position: relative;
  float: left;
}
section.about ul.history li span:before {
  position: absolute;
  content: "";
  width: .12rem;
  height: .12rem;
  display: block;
  border-radius: 50%;
  background-color: #ff982b;
  right: -0.2rem;
  top: 50%;
  transform: translate(0, -50%);
}
section.about ul.history li span:after {
  content: "";
  position: absolute;
  width: .02rem;
  height: .6rem;
  background-color: #ff982b;
  right: -0.15rem;
  top: 50%;
}
section.about ul.history li:last-child span:after {
  display: none;
}
div.menu .mask {
  position: absolute;
  top: 1.95rem;
  /*115px + 80px;*/
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
div.menu .menulist {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: .8rem;
  /*115px + 80px;*/
  height: 1.15rem;
  width: 100%;
  background-color: #fff;
}
div.menu .menulist a.icon-home1 {
  background: url("../img/ico_menu_1.png") center top no-repeat;
  background-size: .33rem .33rem;
}
div.menu .menulist a.icon-home2 {
  background: url("../img/ico_menu_2.png") center top no-repeat;
  background-size: .33rem .33rem;
}
div.menu .menulist a.icon-home3 {
  background: url("../img/ico_menu_3.png") center top no-repeat;
  background-size: .33rem .33rem;
}
div.menu .menulist a.icon-home4 {
  border-right: none;
  background: url("../img/ico_menu_4.png") center top no-repeat;
  background-size: .33rem .33rem;
}
div.menu .menulist a {
  flex: 1 1 auto;
  text-align: center;
  padding: 0.4rem .2rem 0;
  font-size: .2rem;
  color: red;
  border-right: 1px solid red;
}
.c80 {
  color: #808080;
}
.c1 {
  color: #4b4a4a;
}
.products .product {
  margin: .2rem;
  border: .01rem solid #ccc;
  padding: .2rem;
  background-color: #fff;
}
.products .product ul {
  display: flex;
}
.products .product ul .data1 {
  width: 2.64rem;
  font-size: 0.38rem;
  color: #fb4438;
  text-align: center;
  line-height: 1.2rem;
}
.products .product ul .data2 {
  width: 1.8rem;
  height: 1.2rem;
  line-height: .6rem;
  color: #808080;
}
.products .product ul .data2 em {
  color: #4b4a4a;
  margin-right: .05rem;
}
.products .product ul .data3 {
  width: 1.16rem;
  height: 1.16rem;
  position: relative;
}
.products .product ul .data3 .outer {
  position: absolute;
  width: 1.16rem;
  height: 1.16rem;
}
.products .product ul .data3 .bg,
.products .product ul .data3 .inner,
.products .product ul .data3 .over50 {
  position: absolute;
  width: 1.16rem;
  height: 1.16rem;
  border: .03rem solid #ccc;
  border-radius: 50%;
}
.products .product ul .data3 .inner {
  transition: transform .3s;
}
.products .product ul .data3 .bg {
  font-size: .3rem;
  color: red;
  line-height: 1.16rem;
  text-align: center;
}
.products .product ul .data3 .inner,
.products .product ul .data3 .over50 {
  border-color: red;
}
footer {
  margin-top: .2rem;
  border-top: .01rem solid #ddd;
  padding: .3rem 0;
  text-align: center;
}
footer p.footlinks {
  margin-bottom: .15rem;
}
footer p.footlinks a {
  color: #4b4a4a;
}
footer p.copyright {
  color: #808080;
}
